@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*Reset*/
*,
::before,
::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    --grey : #333;
    --blue : #0a235b;
    --orange : #ffa800;
    --yellow : #ebc45e;
    --red : #ff0022;
    --beige : #fff5eb;
}

.fontCaveat
{
    font-family: 'Caveat', cursive;
    font-size: 4em;
    color: var(--orange);
}

.fontCaveat2
{
    font-family: 'Caveat', cursive;
    font-size: 2em;
    color: var(--orange);
}

.fontSize
{
    font-size: 1.5em;
}

.fontBlue
{
    color: var(--blue);
    margin-top: -2%;
    margin-left: -3%;
}

h1
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    color: var(--blue);
}

h2, h5
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    color: var(--blue);
}

h3
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    color: var(--beige);
}

p
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.7em;
    color: var(--grey);
    padding: 3%;
}



/*Nav*/
nav
{
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: transparent;
    box-shadow: 0px -1px 0px #c5c5c5;
    z-index: 100;
}

/*Nav Animation*/
nav.scrolled
{
    height: 150px;
    background-color: white;
    opacity: 0.98;
    transition: 1s;
}
/*END animation*/

/*Animation au scroll*/
.reveal
{
    opacity: 0;
    transform: translateY(-60px);
}

.reveal-visible
{
    opacity: 1;
    transform: translateY(0);
    transition: 3s cubic-bezier(.5, 0, 0, 1);
}
/*END animation scroll*/


.navLinks-container a
{
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    color: var(--blue);
    display: inline-block;
    position: relative;
}

.navLinks-container a::after
{
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--blue);
    transition: transform 0.3s ease-out;
}

.navLinks-container a:hover::after
{
    transform: scaleX(1);
}

.logo
{
    height: 4em;
    width: 4em;
    margin: auto;
}

.scrolledScale
{
    transform: scale(1);
}
/*END Nav*/

/*Btn*/
button
{
    height: 45px;
    width: 250px;
    color: #fff5eb;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}

.btn-orange
{
    background: var(--orange);
}

.btn-red
{
    background: var(--red);
    width: 470px;
}

.btn-search
{
    position: relative;
    top: 2px;
    right: 64px;
    height: 50px;
    width: 60px;
    background: var(--orange);
}
/*END Btn*/

.hamburger
{
    display: none;
}

/*Slider*/
.container 
{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.slider_container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slider_container img
{
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider_container img.active
{
    display: block;
    animation: fadeIn 4s;
}

@keyframes fadeIn 
{
    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
    /*Progress bar*/
.progress
{
    position: relative;
    height: 20px;
    width: 80%;
    margin-bottom: 9rem;
}

.progress #length
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey);
}

.progress #progress_animation
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--orange);
    z-index: 55;
    animation: moving;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving 
{
    0%
    {
        width: 0;
    }
    100%
    {
        width: 100%;
    }
}

.progress .slider_count
{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.slider_count .count
{
    width: 20%;
    border: 1px solid wheat;
}
/*END Slider*/

/*Search zone*/
.searchZone
{
    position: relative;
    height: 220px;
    width: 1800px;
    bottom: 100px;
    background: var(--blue);
    z-index: 10;
}

.searchZone-content
{
    display: flex;
}

.pictoShop
{
    height: 15em;
}

.searchZone-txt
{
    color: white;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    padding: 8%;
}

form
{
    padding: 3%;
}

input
{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: none;
    border-radius: 4px;
    text-align: center;
}
/*END Search Zone*/

/*Section content1*/
.content1
{
    background: url(../img/main/section1.jpg) center center no-repeat;
    background-size: cover;
    height: 1200px;
    margin-left: -10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 2fr 2fr;
}

.subContent1
{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.redLine
{
    position: relative;
    border-bottom: var(--red) 1px solid;
    width: 150px;
    padding: 3%;
    right: 30px;
}
/*END Section content1*/

/*Section content2*/
.content2
{
    height: 1200px;
    margin-left: -10%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 150px 2fr 2fr 2fr 2fr;
}

.bg-content2
{
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1;
}

.subContent2-1
{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: relative;
    top: 50px;
    left: 80px;
}

.subContent2-2
{
    grid-column: 4 / span 1;
    position: relative;
    top: 750px;
    left: 80px;
}
/*END Section content2*/

/*Section content3*/
.content3
{
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 150px 1fr 1fr 1fr 1fr;
}

.subContent3-1
{
    background: var(--beige);
    grid-column: 3 / span 4;
    grid-row: 2 / span 3;
    padding-left: 45%;
    padding-top: 5%;
}

.subContent3-2
{
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
}

.content3Titles
{
    margin-bottom: 5%;
}

.eventsContent
{
    height: 700px;
    width: 1000px;
}

.eventsContent img
{
    height: 700px;
    width: 1000px;
}

.eventsAnimations:hover
{
    transform: translateX(-40px);
    transition: 1s;
}
/*END Section content3*/

/*Section content4*/
.content4
{
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
}

.subContent4-1
{
    background: url(../img/main/section4.png) center center no-repeat;
    background-size: cover;
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
    position: relative;
    bottom: 350px;
    right: 80px;
    width: 3000px;
    height: 500px;
    z-index: 10;
}

.subContent4-2
{
    background-color: var(--beige);
    background-size: cover;
    grid-column: 1 / span 9;
    grid-row: 1 / span 3;
}

.content4Title
{
    position: relative;
    left: 750px;
    top: 100px;
}

/*Cards*/
.imgCards
{
    height: 5em;
    width: 5em;
    margin-bottom: 3%;
}

.cardsContainer
{
    display: flex;
    justify-content: center;
}

.cards-content
{
    background-color: white;
    height: 500px;
    border-radius: 12px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2%;
    margin: 1%;
    z-index: 80;
}

.card-txt
{
    color: var(--blue);
    font-size: 1.2em;
    margin-top: 5%;
}

.subContent4-3
{
   margin-left: 15%;
}

.cards-contentXL
{ 
    background-color: white;
    height: 300px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2%;
    margin: 1%;
    z-index: 80;
}

.cardXL 
{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
}

.email
{
    height: 1em;  
}

.cardTitleXL
{
    grid-column: 1;
    grid-row: 3;
    text-align: center;
}

.cardTxtXL
{
    grid-column: 2 / span 1;
    text-align: center;
}

.cardBtnXL
{
    grid-column: 4;
    grid-row: 3;
    text-align: center;
}
/*END Section content4*/
.content5
{
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
}

.subContent5-1
{
    grid-column: 1 /span 2;
    margin-left: 15%;
}

.subContent5-1Txt
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    text-align: justify;
    line-height: 1.7em;
    color: var(--blue);
    margin-left: -3%;
}

.subContent5-2
{
    grid-column: 4 /span 2;    
}

.subContent5-2Txt
{
    margin-left: -50%;
    color: var(--yellow);
    font-size: small;
    font-weight: bold;
}

.lineOrange
{
    position: relative;
    top: 50px;
    left: 250px;
    border-top: 3px var(--orange) solid;
    width: 100em;
}

.links
{
   display: flex;
   margin-top: 10%;
   margin-left: 16%;
}

.links a
{
    text-decoration-line: none;
    color: var(--blue);
    line-height: 2em;
}

.col-1
{
    margin-right: 20%;
}

.col-2
{
    margin-right: 20%;
}

.arrow
{
    height: 1em;
    margin-right: 3%;
}
/*Section content5*/
/*END Section content5*/

footer
{
    height: 100px;
    background: var(--blue);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: flex;
    padding: 1.3%;
}

.part1
{
    margin-right: 35%;
    margin-left: 15%;
}

@media only screen and (max-width : 280px) 
{
    
}

@media only screen and (min-width : 281) and (max-width : 480px)
{

}

@media only screen and (min-width : 481px) and (max-width : 768px)
{

}

@media only screen and (min-width : 769px) and (max-width : 991px)
{

}

@media only screen and (min-width : 992px) and (max-width : 1300px)
{
    
}
